.create-item-container {
  width: 80%;
  margin-left: 20%;
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.create-item-container-input {
  display: flex;
  flex-direction: row;
}

.text-input {
  width: 50%;
}
.create-item-container h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.form-field {
  margin-bottom: 20px;
  margin-left: 5%;
}

.form-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #555;
}

.form-field input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.file-input {
  display: none;
}

.upload-label {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
}

.upload-label:hover {
  background-color: #0056b3;
}

.submit-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

.image-input .form-field.create-item-image {
  position: absolute;
  max-width: 20%;
  width: 20%;
  display: flex;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 30%;
}
.image-preview {
  position: relative;
  max-width: 100%;
  width: auto;
  min-height: 100%;
}
.image-input {
  width: 40%;
  height: 100vh;
}
.image-input .form-field {
  height: 100%;
  width: 100%;
}
