.card-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Card {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  display: flex;
  text-align: center;
  margin-top: 100px;
  align-self: center;
  width: 80%;
  justify-self: center;
  justify-content: center;
}

.product-itemimage-container {
  margin-right: 20px;
  margin-left: 30px;
  height: 50vh;
  width: auto;
}

.product-item-image {
  width: 100%;
  max-width: 100%;
  height: 50vh;
}

.product-item-detail-container {
  text-align: center;
  display: flex;
  margin-left: 100px;
  justify-content: center;
  flex-direction: column;
}

.product-item-title .title {
  font-size: 18px;
  margin: 0;
}

/* Styles for the product price */
.product-item-price {
  font-size: 16px;
  font-weight: bold;
}

.product-description p {
  margin-top: 10px;
}

.add-cart-item {
  display: flex;
  align-items: center;
  justify-content: end;
}

.add-cart-button button {
  background-color: #ebeef1;
  color: #180303;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid rgb(9, 9, 9);
}

.decrease-cart button,
.increase-cart button {
  background-color: #ccc;
  color: #333;
  border: 2px solid rgb(9, 9, 9);
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin: 0 10px;
  width: 40px;
  height: 40px;
}

.product-count {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

/* Media query for screens smaller than 768px (adjust as needed) */
@media (max-width: 768px) {
  /* Stack image and details below each other for smaller screens */
  .Card {
    flex-direction: column;
    align-items: center; /* Center content vertically */
  }

  .product-itemimage-container {
    margin-right: 0; /* Remove right margin for smaller screens */
  }

  /* Center the image and details for smaller screens */
  .product-itemimage-container {
    text-align: center;
  }

  .product-item-detail-container {
    text-align: center;
  }
}
